.container{
  background-color: rgb(255, 255, 187);
  width:1190px;
  height: 300px;
  border-radius: 30px;
  justify-self: center;
  transition:transform 0.3s , background-color 0.3s;
}
.container:hover{
  background-color: rgb(252, 252, 135);
  transform: scale(1.02);

}
.para1{
  color: rgb(38, 38, 38);
  font-family:Arial, Helvetica, sans-serif;
  height: 0px;
  font-size: 90px;
  margin-left: 30px;
  margin-top: 20px;
  display: inline-block;
}
.para2{
  color: rgb(38, 38, 38);
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 30px;
  height: 0px;
}
.get-started{
  padding-left: 14px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: none;
  background-color: rgb(38,38,38);
  color: antiquewhite;
  border-radius: 20px;
  font-size: 17px;
  margin-top: 50px;
  margin-left: 30px;
  transition: padding 0.25s;
  text-align: center;
  cursor: pointer;
}
.get-started:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.intro{
  justify-items: center;
  height: 70px;
  margin-bottom: 30px;
}
.intro-text{
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(38, 38, 38);
  margin-top: 30px;
}

.intro-tools{
  justify-self: center;
  margin-top: 70px;
  width: 90%;
  justify-items: center;
  margin-top: 0;
}

.video-summary{
  background-color: lightpink;
  height: 170px;
  width: 800px;
  border-radius: 20px;
  transition:transform 0.3s , background-color 0.3s;
}
.video-summary:hover{
  background-color: rgb(255, 147, 164);
  transform: scale(1.02);
}
.video-notes{
  background-color: lightblue;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 170px;
  width: 800px;
  border-radius: 20px;
  transition:transform 0.3s , background-color 0.3s;
}
.video-notes:hover{
  background-color: rgb(134, 225, 255);
  transform: scale(1.02);
}
.pdf-summary{
  background-color: lightgreen;
  height: 170px;
  width: 800px;
  border-radius: 20px;
  transition:transform 0.3s , background-color 0.3s;
}
.pdf-summary:hover{
  background-color: rgb(126, 255, 126);
  transform: scale(1.02);
}

.text{
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 510;
  padding: 15px;
  color: rgb(38, 38, 38);
  line-height: 26px;
}